
.contact{
    color: var(--green-600);
}
.contact_text, .shop_text{
    color: var(--grey-300);
}
.contact_top > div:first-child{
    margin-bottom: 40px;
}

.contact_text{
    margin: 16px 0 80px;
}
.medium{
    margin: 16px 0 8px;
}
.shop_text{
    padding: 0;
}
.contact_text, .shop_text {
    width: 100%;
    max-width: 428px;
}


form{
    background-color: var(--yellow-50);
    border-radius: 32px;
    padding: 24px 16px;
}
form > div{
    margin-top: 24px;
}
form > .title_box{
    margin-top: 32px;
}
input{
    height: 48px;
    color: var(--grey-600);
}
input:focus {
    border: 1px solid var(--green-400);
}
label{
    display: block;
    margin-bottom: 8px;
}
textarea{
    width: 100%;
    background:var(--white);
    border: 0.5px solid var(--grey-300);
    border-radius: 8px;
    font-family: 'Avenir', 'Courier New',
    monospace;
    padding: 16px;
    font-size: 16px;
    outline: none;

}
textarea:focus {
    border: 1px solid var(--green-400);
}
textarea::placeholder{
    color: var(--grey-200);
}
form .contact_button{
    margin-top: 24px;
    height: 48px;
}

/* Waitlist */

.btn_small{
    margin-top: 0;
}

@media (min-width: 576px) {
    
    .contact_top > div:first-child{
        margin-bottom: 80px;
    }

    form{
        padding: 32px;
    }
    form > .title_box{
        margin-top: 48px;
    }
    form > div{
        margin-top: 32px;
    }
    form .contact_button {
        margin-top: 40px;
    }
    form button{
        margin-top: 40px;
    }
}

@media (min-width:1024px) {
    
    .contact_top{
        display: flex;
        justify-content: space-between;
        column-gap: 64px;
    }
    .contact_top > div:first-child{
        margin-bottom: 0;
        width: 100%;
        max-width: 564px;
    }
}
@media (min-width: 1280px) {
  
    .shop_text {
        font-size: 20px;
        line-height: 28px; 
    }
}