.medium3, .subtitle3, .label1, .btn3{
  font-weight: 500;
  letter-spacing: 0px;
  font-size: 12px;
  line-height: 16px
}

 
  .medium2, .subtitle2, .links, .btn2, .nav1 {
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 14px;
    line-height: 18px
  }

  
  .medium1, .subtitle1, .btn1 {
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 22px
  }
  
  
 .heading1 {
    font-weight: black; 
    letter-spacing: -2px;
    font-size: 60px;
    line-height: 70px;
  }

  .heading2 {
    font-weight: black;
    letter-spacing: -2px;
    font-size: 48px;
    line-height: 58px;
  }
  
  .heading3 {
    font-weight: black;
    letter-spacing: -2px;
    font-size: 40px;
    line-height: 50px;
  }
  
  .heading4 {
    font-weight: black;
    letter-spacing: -1px;
    font-size: 24px;
    line-height: 32px;
  }

  .heading5 {
    /* font-weight: black; */
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 20px;
    line-height: 28px;
  }

  .heading6 {
    font-weight: book;
    letter-spacing: 0px;
    font-size: 24px;
    line-height: 32px;
  }
  .heading7 {
    font-weight: book;
    letter-spacing: 0px;
    font-size: 20px;
    line-height: 28px;
  }

  .p1 {
    font-weight: book;
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 22px;
  }

  .p2 {
    font-weight: book;
    letter-spacing: 0px;
    font-size: 14px;
    line-height: 18px;
  }

  .p3, .caption1 {
    font-weight: book;
    letter-spacing: 0px;
    font-size: 12px;
    line-height: 16px;
  }

  /* TITLE */
 
  .title1 {
    font-weight: black;
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 22px;
  }
  .title2 {
    font-weight: black;
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 22px;
  }
  .tile3 {
    font-weight: black;
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 22px;
  }
  
  .caption2{
    font-weight: book;
    letter-spacing: 0px;
    font-size: 10px;
    line-height: 12px;
  }

  .label2, .nav2{
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 10px;
    line-height: 12px;
  }
 
  

