
     /* TOP NAVBAR STYLE */
     @import "navbar.css";
     @import "colors.css";
     @import "fonts.css";
     @import "main.css";
     @import "footer.css";
     
     
     
     
     *{
         box-sizing: border-box;
         padding: 0;
         margin: 0;
         font-family: 'Avenir', 'Courier New',
         monospace;
     }
     body{
         font-family: 'Avenir', 'Courier New',
         monospace;
         margin: 0;
         padding: 0;
     }

     /* PRIVACY POLICY STYLING */
     .policy{
        max-width: 700px;
     }
     .policy p{
        margin-top: 24px;
     }
     .policy .btn_small{
        text-align: center;
        margin: 40px auto;
        height: 48px;
        padding: 13px;
     }
     
     /* PRIVACY POLICY STYLING */

     /* POP UP */

     #popup{
        display: none;
        position: fixed;
        top: 0;
        padding-top: 100px;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 100;
        background: rgba(0, 0, 0, 0.25);
     }

     
     .popup{
        position: relative;
        margin: 0 auto;
        background-color: var(--white);
        border-radius: 16px;
        width: 299px;
        height: 456px;
        text-align: center;
     }
     #waitlist_popup.show{
         display: block;
     }

     #waitlist_popup{
        display: none;
     }
     .waitlist_popup {
        position: absolute;
        margin: 30px 24px;
        background-color: var(--green-100);
        border: 0.5px solid var(--green-400);
        border-radius: 15px;
        width: 250px;
    }
    .waitlist_popup p{
        padding: 10px;
        color: var(--green-600);
        font-weight: 400;
        letter-spacing: 0px;
        font-size: 16px;
        line-height: 22px;
    }
     .popup img{
        position: absolute;
        right: 24px;
        top: 24px;
        width: 32px;
        height: 32px;
     }
     #popup .heading_big{
        width: 229px;
        padding-top: 100px;
        margin: 0 auto;
        font-size: 24px;
        line-height: 32px;
     }
     #popup .btn_small{
        width: 169px;
        height: 56px;
        margin: 56px auto 24px;
        display: block;
        text-decoration: none;
     }

     #popup .btn{
        background-color: var(--white);
        border: 1px solid var(--grey-200);
        border-radius: 8px;
        color: var(--grey-600);
        padding: 17px 16px;
        width: 276px;
        height: 56px;
        margin: 24px auto 0;
        text-decoration: none;
        display: block;
     }


     /* POP UP */


     #shopper > div, #storeowners > div{
         width: 100%;
     }

     .banner_container{
        background-color: var(--green-50);
     }
     .shop_container{
        background-color: var(--yellow-50);
    }
    .waitlist_container{
        background-color: var(--green-600);
        position: relative;
    }
     .container{
         padding: 16px;
     }
     section{
         padding: 40px 16px;
         max-width: 1440px;
         margin: 0 auto;
         width: 100%;
     }
     main{
        top: 70px;
        position: relative;
        margin-bottom: 40px;
    }
     
     .shop_text{
        padding: 24px 0;
     }
     .shop_text, .paragraph_small{
        color: var(--grey-400);
     }

     .split{
        margin: 80px 0 0;
     }
     .split .shop_text{
        padding-bottom: 0;
     }
     .split img{
         width: 100%;
         max-width: 567px;
         margin-top: 40px;
     }
     .btn, .btn_small, .btn_waitlist{
         background-color: var(--green-400);
         border: none;
         border-radius: 8px;
         color: var(--white);
         padding: 17px 16px;
         text-align: center;
         width: 100%;
         height: 56px;
         font-weight: 500;
         font-size: 16px;
         line-height: 22px;  
     }
     .btn_small{
         width: 179px;
         margin-top: 40px;
     }
     a.btn_small{
        text-decoration: none;
        display: block;
     }
     input{
         border: 0.5px solid var(--grey-300);
         border-radius: 8px;
         font-family: 'Avenir', 'Courier New','monospace';
         font-size: 16px;
         font-weight: 400;
         letter-spacing: 0px;
         line-height: 22px;
         padding: 17px 16px;
         text-align: left;
         width: 100%;
         height: 56px;
         outline: none;
     }
     input:focus {
        border: 1px solid var(--green-400);
  }
     input::placeholder{
         color: var(--grey-200);
     }
     input:focus{
        border: 1px dash var(--grey-500);
     }
/* FAQ STYLE */
.faq .subtitle_header{
    margin-bottom: 50px;
    color: var(--grey-600);
}

.faq_title {
    background-color:var(--green-50);
    color: var(--grey-500);
    cursor: pointer;
    display: flex;
    font-family: 'avenir','Courier New', 'monospace';
    justify-content: space-between;
    padding: 18px 24px;
    width: 100%;
    max-width: 955px;
    margin: 0 auto;
    border: none;
    border-radius: 16px;
    text-align: left;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .faq_title:hover {
    background-color:var(--green-50);
  }
  
  .faq_title:after {
    content: url(../images/icon+.svg);
    color: var(--grey-400);
    font-weight: bold;
    width: 24px;
    height: 24px;
    float: right;
    margin-left: 5px;
  }
  
  .faq_title.active:after {
    content:  url(../images/icon-.svg);;
  }
  
  .faq_text {
    padding: 0 24px;
    background-color:var(--green-50);
    color: var(--grey-400);
    max-height: 0;
    width: 100%;
    max-width: 955px;
    margin: -12px auto 31px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .faq_text p{
    padding: 16px 0;
  }
  /* FAQ STYLE */
     
     
     
     @media (min-width: 576px) {
         .container{
             padding: 0 24px;
         }
         section{
             padding: 80px 24px;
         }
         
     .popup{
        width: 400px;
     }
     #popup .heading_big{
        width: 347px;
        font-size: 40px;
        line-height: 50px;
     }
     .waitlist_popup {
       
        margin: 100px;
        width: 320px;
    }
     }
     @media (min-width: 1024px) {
         .container{
             padding: 0 32px;
         }
         section{
             padding: 100px 32px;
         }
         .split{
                 display: flex;
                 column-gap: 50px;
                 align-items: center;
         }
         .reverse{
            flex-direction: row-reverse;
         }
         .popup{
            width: 564px;
         }
         #popup .heading_big{
            width: 423px;
            font-size: 48px;
            line-height: 58px;
         }
         .waitlist_popup {
            margin: 50px 350px;
        }
         
     }
     @media (min-width: 1280px) {
         .container{
             padding: 0 64px;
         }
         section{
             padding: 100px 64px;
         }
     }
     @media (min-width: 1440px) {
         .container{
             padding: 0 144px;
         }
         section{
             padding: 100px 144px;
         }
     }
     
       

    
     