

.logo{
    width: 147px;
    height: 30.29px;
}
.grid{
    width: 24px;
    height: 24px;
}
Header{
    height: 70px;
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 0.5px var(--grey-200) solid;
    background: #FFFFFF;
}

Navbar{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: inherit;
}

.display_toggle{
    width: 100%;
    background-color: var(--white);
    position: absolute;
    top: 102px;
    left: 0;
    padding: 40px 16px;
    list-style: none;
    z-index: 100;
}
.toggle{
    display: none;
}
.display_toggle > li{
    margin-bottom: 40px;
}
.display_toggle a{
    color: var(--grey-300);
    text-decoration: none;
    font-weight: 500;
}
.display_toggle a:hover{
    color: var(--green-400);
    text-decoration: underline;
}

@media (min-width: 576px) {
    /* .display_toggle{
        left: 24px;
    } */
}
@media (min-width: 1024px) {

    /* .logo{
        width: 218.54px;
        height: 45.04px;
    } */
    .display_toggle{
        position: relative;
        top: 20px;
        display: flex;
        justify-content: space-between;
        left: 0;
        padding: 0;
    }
    .display_toggle li{
        margin-left: 60px;
        margin-bottom: 24px;
    }
    .grid{
        display: none;
    }
    .toggle{
        display: flex;
    }
}