

@font-face {
    font-family: 'avenirblack';
    src: url('fonts/avenir-black_1-webfont.woff2') format('woff2'),
         url('fonts/avenir-black_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'avenir';
    src: url('fonts/avenir-book-webfont.woff2') format('woff2'),
         url('fonts/avenir-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'avenirmedium';
    src: url('fonts/avenir-medium-webfont.woff2') format('woff2'),
         url('fonts/avenir-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}